{% extends "base.html" %}

{% block html %}
<div id="chart" style="width:100%; height:400px;"></div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'chart',
        defaultSeriesType: 'spline'
      },
      title: {
        text: 'Minimum fitness by population'
      },
      xAxis: {
        type: 'datetime',
        tickPixelInterval: 150,
        maxZoom: 20 * 1000
      },
      yAxis: {
        minPadding: 0.2,
        maxPadding: 0.2,
        title: {
            text: 'Minimum fitness',
            margin: 80
        }
      },
      series: [
        {
          name: 'Population 1',
          data: []
        },
        {
          name: 'Population 2',
          data: []
        }
      ]
    });

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('update', function(m) {
      chart.series[m.id].addPoint([Date.now(), m.min_fitness], true, false);
    });
  });
</script>
{% endblock %}
